/*******************
Main sidebar
******************/
.left-sidebar {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 20;
  padding-top: 70px;
  background: transparent;
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08); }

.fix-sidebar .left-sidebar {
  position: fixed; }

/*******************
sidebar navigation
******************/
.scroll-sidebar {
  margin: 0 auto;
  max-width: 1280px; }

.collapse.in {
  display: block; }

.sidebar-nav {
  background: transparent; }
.sidebar-white{
    background: #fff;
    transition: all 1s linear;
}
  .sidebar-nav ul {
    margin: 0px;
    padding: 0px; }
    .sidebar-nav ul li {
      list-style: none; }
      .sidebar-nav ul li a {
        color: #54667a;
        padding: 15px;
        display: block;
        font-size: 15px; }
        .sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
          color: #009efb; }
        .sidebar-nav ul li a.active {
          font-weight: 400;
          color: #263238; }
      .sidebar-nav ul li ul {
        padding: 15px; }
        .sidebar-nav ul li ul li a {
          padding: 10px 25px 10px 15px; }
        .sidebar-nav ul li ul ul {
          padding: 0px 0 0 15px; }
      .sidebar-nav ul li.nav-small-cap, .sidebar-nav ul li.nav-devider {
        display: none; }
  .sidebar-nav > ul > li.active > a {
    color: #009efb; }
    .sidebar-nav > ul > li.active > a i {
      color: #009efb; }
  .sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
    color: #009efb; }
  .sidebar-nav > ul > li > a i {
    width: 27px;
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    color: #a6b7bf; }
  .sidebar-nav > ul > li > a .label {
    float: right;
    margin-top: 6px; }
  .sidebar-nav > ul > li > a.active {
    font-weight: 400;
    background: #242933;
    color: #009efb; }

@media (min-width: 768px) {
  .sidebar-nav > ul > li {
    display: inline-block; }
    .sidebar-nav > ul > li:hover > a,
    .sidebar-nav > ul > li:hover > a i {
      color: #009efb; }
  .sidebar-nav > ul > li:last-child ul {
    right: 0px; }
  .sidebar-nav #sidebarnav li.two-column > ul {
    width: 400px; }
    .sidebar-nav #sidebarnav li.two-column > ul > li {
      width: 49%;
      vertical-align: top;
      display: inline-block; }
  .sidebar-nav #sidebarnav li.three-column > ul {
    width: 600px; }
    .sidebar-nav #sidebarnav li.three-column > ul > li {
      width: 32.5%;
      vertical-align: top;
      display: inline-block; }
  .sidebar-nav #sidebarnav > li > a.has-arrow:after {
    display: none; }
  /****************
    When click on sidebar toggler and also for tablet
    *****************/
  .sidebar-nav #sidebarnav li {
    position: relative; }
  .sidebar-nav #sidebarnav > li > ul {
    position: absolute;
    z-index: 1001;
    width: 260px;
    background: #ffffff;
    display: none;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09); }
  .sidebar-nav #sidebarnav > li:hover > ul {
    height: auto !important;
    overflow: auto; }
  .sidebar-nav #sidebarnav > li:hover > ul,
  .sidebar-nav #sidebarnav > li:hover > ul.collapse {
    display: block;
    max-height: 440px; } }

.sidebar-nav .has-arrow {
  position: relative; }
  .sidebar-nav .has-arrow::after {
    position: absolute;
    content: '';
    width: .4em;
    height: .4em;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #54667a;
    right: 1em;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
    -ms-transform: rotate(-45deg) translate(0, -50%);
    -o-transform: rotate(-45deg) translate(0, -50%);
    transform: rotate(-45deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 50%;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }

.sidebar-nav .active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%); }

@media (max-width: 1024px) and (min-width: 700px) {
  .sidebar-nav ul li a i {
    display: none; } }

@media (max-width: 767px) {
  .mini-sidebar .left-sidebar {
    position: fixed;
    display: none;
    height: 100%;
    overflow: auto; }
  .mini-sidebar.show-sidebar .left-sidebar,
  .mini-sidebar.show-sidebar .sidebar-footer {
    display: block; }
  .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
    padding: 0 10px; }
    .mini-sidebar .sidebar-nav #sidebarnav > li > ul li a {
      padding: 10px 15px 10px 35px; } }

/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/*******************
/*User mail widgets*/
/*******************/
.topbar .top-navbar .mailbox {
  width: 300px; }
  .topbar .top-navbar .mailbox ul {
    padding: 0px; }
    .topbar .top-navbar .mailbox ul li {
      list-style: none; }

.mailbox ul li .drop-title {
  font-weight: 500;
  padding: 11px 20px 15px;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13); }

.mailbox ul li .nav-link {
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  padding-top: 15px; }

.mailbox .message-center {
  height: 200px;
  overflow: auto;
  position: relative; }
  .mailbox .message-center a {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    display: block;
    text-decoration: none;
    padding: 9px 15px; }
    .mailbox .message-center a:hover {
      background: #f2f4f8; }
    .mailbox .message-center a div {
      white-space: normal; }
    .mailbox .message-center a .user-img {
      width: 40px;
      position: relative;
      display: inline-block;
      margin: 0 10px 15px 0; }
      .mailbox .message-center a .user-img img {
        width: 100%; }
      .mailbox .message-center a .user-img .profile-status {
        border: 2px solid #ffffff;
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        left: 30px;
        position: absolute;
        top: 1px;
        width: 10px; }
      .mailbox .message-center a .user-img .online {
        background: #55ce63; }
      .mailbox .message-center a .user-img .busy {
        background: #f62d51; }
      .mailbox .message-center a .user-img .away {
        background: #ffbc34; }
      .mailbox .message-center a .user-img .offline {
        background: #ffbc34; }
    .mailbox .message-center a .mail-contnet {
      display: inline-block;
      width: 75%;
      vertical-align: middle; }
      .mailbox .message-center a .mail-contnet h5 {
        margin: 5px 0px 0; }
      .mailbox .message-center a .mail-contnet .mail-desc,
      .mailbox .message-center a .mail-contnet .time {
        font-size: 12px;
        display: block;
        margin: 1px 0;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #54667a;
        white-space: nowrap; }

/*******************
/*Analytic info sparkline chart page*/
/*******************/
.analytics-info li span {
  font-size: 24px;
  vertical-align: middle; }

/*******************
/*States row*/
/*******************/
.stats-row {
  margin-bottom: 20px; }
  .stats-row .stat-item {
    display: inline-block;
    padding-right: 15px; }
    .stats-row .stat-item + .stat-item {
      padding-left: 15px;
      border-left: 1px solid rgba(120, 130, 140, 0.13); }

/*******************/
/*Dashboard1 Weather*/
/*******************/
.city-weather-days {
  margin: 0px; }
  .city-weather-days li {
    text-align: center;
    padding: 15px 0; }
    .city-weather-days li span {
      display: block;
      padding: 10px 0 0;
      color: #90a4ae; }
    .city-weather-days li i {
      display: block;
      font-size: 20px;
      color: #009efb; }
    .city-weather-days li h3 {
      font-weight: 300;
      margin-top: 5px; }

/*******************/
/*Comment widgets*/
/*******************/
.comment-widgets {
  position: relative;
  margin-bottom: 10px; }
  .comment-widgets .comment-row {
    border-left: 3px solid #ffffff;
    padding: 15px; }
    .comment-widgets .comment-row:hover, .comment-widgets .comment-row.active {
      border-color: #009efb; }

.comment-text {
  padding: 15px 15px 15px 20px; }
  .comment-text:hover .comment-footer .action-icons,
  .comment-text.active .comment-footer .action-icons {
    visibility: visible; }
  .comment-text p {
    max-height: 50px;
    overflow: hidden; }

.comment-footer .action-icons {
  visibility: hidden; }
  .comment-footer .action-icons a {
    padding-left: 15px;
    vertical-align: middle;
    color: #90a4ae; }
    .comment-footer .action-icons a:hover, .comment-footer .action-icons a.active {
      color: #009efb; }

/*******************/
/*To do widgets*/
/*******************/
.todo-list li {
  border: 0px;
  margin-bottom: 0px;
  padding: 20px 15px 15px 0px; }
  .todo-list li .checkbox {
    width: 100%; }
    .todo-list li .checkbox label {
      font-weight: 400; }
  .todo-list li:last-child {
    border-bottom: 0px; }
  .todo-list li .assignedto {
    padding: 0px 0 0 27px;
    margin: 0px; }
    .todo-list li .assignedto li {
      list-style: none;
      padding: 0px;
      display: inline-block;
      border: 0px;
      margin-right: 2px; }
      .todo-list li .assignedto li img {
        width: 30px;
        border-radius: 100%; }
  .todo-list li .item-date {
    padding-left: 25px;
    font-size: 12px;
    display: inline-block; }

.list-task .task-done span {
  text-decoration: line-through; }

/*******************/
/*Chat widget*/
/*******************/
.chat-list {
  margin: 0px;
  padding: 0px; }
  .chat-list li {
    list-style: none;
    margin-top: 30px; }
    .chat-list li .chat-img {
      display: inline-block;
      width: 45px;
      vertical-align: top; }
      .chat-list li .chat-img img {
        width: 45px;
        border-radius: 100%; }
    .chat-list li .chat-content {
      width: calc(100% - 140px);
      display: inline-block;
      padding-left: 15px; }
      .chat-list li .chat-content h5 {
        color: #90a4ae; }
      .chat-list li .chat-content .box {
        display: inline-block;
        margin-bottom: 10px; }
    .chat-list li .chat-time {
      display: inline-block;
      text-align: right;
      width: 80px;
      font-size: 13px;
      color: #90a4ae; }
    .chat-list li.odd .chat-content {
      text-align: right;
      width: calc(100% - 90px); }
    .chat-list li.odd .box {
      clear: both; }
    .chat-list li.odd + .odd {
      margin-top: 0px; }
    .chat-list li.reverse {
      text-align: right; }
      .chat-list li.reverse .chat-time {
        text-align: left; }
      .chat-list li.reverse .chat-content {
        padding-left: 0px;
        padding-right: 15px; }

/*******************/
/*Chat widget*/
/*******************/
.message-box ul li .drop-title {
  font-weight: 500;
  padding: 11px 20px 15px;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13); }

.message-box ul li .nav-link {
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  padding-top: 15px; }

.message-box .message-widget {
  position: relative; }
  .message-box .message-widget a {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    display: block;
    text-decoration: none;
    padding: 9px 15px; }
    .message-box .message-widget a:hover {
      background: #f2f4f8; }
    .message-box .message-widget a:last-child {
      border-bottom: 0px; }
    .message-box .message-widget a div {
      white-space: normal; }
    .message-box .message-widget a .user-img {
      width: 45px;
      position: relative;
      display: inline-block;
      margin: 0 10px 15px 0; }
      .message-box .message-widget a .user-img img {
        width: 100%; }
      .message-box .message-widget a .user-img .profile-status {
        border: 2px solid #ffffff;
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        left: 33px;
        position: absolute;
        top: -1px;
        width: 10px; }
      .message-box .message-widget a .user-img .online {
        background: #55ce63; }
      .message-box .message-widget a .user-img .busy {
        background: #f62d51; }
      .message-box .message-widget a .user-img .away {
        background: #ffbc34; }
      .message-box .message-widget a .user-img .offline {
        background: #ffbc34; }
    .message-box .message-widget a .mail-contnet {
      display: inline-block;
      width: 71%;
      vertical-align: middle; }
      .message-box .message-widget a .mail-contnet h5 {
        margin: 5px 0px 0; }
      .message-box .message-widget a .mail-contnet .mail-desc,
      .message-box .message-widget a .mail-contnet .time {
        font-size: 12px;
        display: block;
        margin: 1px 0;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #54667a;
        white-space: nowrap; }

/*******************/
/*Calendar widget*/
/*******************/
.calendar {
  float: left;
  margin-bottom: 0px; }

.fc-view {
  margin-top: 30px; }

.none-border .modal-footer {
  border-top: none; }

.fc-toolbar {
  margin-bottom: 5px;
  margin-top: 15px; }
  .fc-toolbar h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase; }

.fc-day {
  background: #ffffff; }

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0; }

.fc-widget-header {
  border: 0px !important; }

.fc-widget-content {
  border-color: rgba(120, 130, 140, 0.13) !important; }

.fc th.fc-widget-header {
  color: #54667a;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 7px 0px;
  text-transform: uppercase; }

.fc th.fc-sun,
.fc th.fc-tue,
.fc th.fc-thu,
.fc th.fc-sat {
  background: #f2f7f8; }

.fc th.fc-mon,
.fc th.fc-wed,
.fc th.fc-fri {
  background: #f2f7f8; }

.fc-view {
  margin-top: 0px; }

.fc-toolbar {
  margin: 0px;
  padding: 24px 0px; }

.fc-button {
  background: #ffffff;
  border: 1px solid rgba(120, 130, 140, 0.13);
  color: #54667a;
  text-transform: capitalize; }
  .fc-button:hover {
    background: #f2f4f8;
    opacity: 0.8; }

.fc-text-arrow {
  font-family: inherit;
  font-size: 16px; }

.fc-state-hover {
  background: #F5F5F5; }

.fc-unthemed .fc-today {
  border: 1px solid #f62d51;
  background: #f2f4f8 !important; }

.fc-state-highlight {
  background: #f0f0f0; }

.fc-cell-overlay {
  background: #f0f0f0; }

.fc-unthemed .fc-today {
  background: #ffffff; }

.fc-event {
  border-radius: 0px;
  border: none;
  cursor: move;
  color: #ffffff !important;
  font-size: 13px;
  margin: 1px -1px 0 -1px;
  padding: 5px 5px;
  text-align: center;
  background: #009efb; }

.calendar-event {
  cursor: move;
  margin: 10px 5px 0 0;
  padding: 6px 10px;
  display: inline-block;
  color: #ffffff;
  min-width: 140px;
  text-align: center;
  background: #009efb; }
  .calendar-event a {
    float: right;
    opacity: 0.6;
    font-size: 10px;
    margin: 4px 0 0 10px;
    color: #ffffff; }

.fc-basic-view td.fc-week-number span {
  padding-right: 5px; }

.fc-basic-view .fc-day-number {
  padding: 10px 15px;
  display: inline-block; }

/*******************/
/*Steam line widget*/
/*******************/
.steamline {
  position: relative;
  border-left: 1px solid rgba(120, 130, 140, 0.13);
  margin-left: 20px; }
  .steamline .sl-left {
    float: left;
    margin-left: -20px;
    z-index: 1;
    width: 40px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    border-radius: 100%;
    color: #ffffff;
    background: #263238;
    margin-right: 15px; }
    .steamline .sl-left img {
      max-width: 40px; }

.steamline .sl-right {
  padding-left: 50px; }
  .steamline .sl-right .desc,
  .steamline .sl-right .inline-photos {
    margin-bottom: 30px; }

.steamline .sl-item {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  margin: 20px 0; }

.sl-date {
  font-size: 10px;
  color: #90a4ae; }

.time-item {
  border-color: rgba(120, 130, 140, 0.13);
  padding-bottom: 1px;
  position: relative; }
  .time-item:before {
    content: " ";
    display: table; }
  .time-item:after {
    background-color: #ffffff;
    border-color: rgba(120, 130, 140, 0.13);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: '';
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px; }

.time-item-item:after {
  content: " ";
  display: table; }

.item-info {
  margin-bottom: 15px;
  margin-left: 15px; }
  .item-info p {
    margin-bottom: 10px !important; }

/*******************/
/*Feed widget*/
/*******************/
.feeds {
  margin: 0px;
  padding: 0px; }
  .feeds li {
    list-style: none;
    padding: 10px;
    display: block; }
    .feeds li:hover {
      background: #ebf3f5; }
    .feeds li > div {
      width: 40px;
      height: 40px;
      margin-right: 5px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      border-radius: 100%; }
      .feeds li > div i {
        line-height: 40px; }
    .feeds li span {
      float: right;
      width: auto;
      font-size: 12px; }

/*******************/
/*Vertical carousel*/
/*******************/
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0); }

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

/*******************/
/*social-widgets*/
/*******************/
.social-widget .soc-header {
  padding: 15px;
  text-align: center;
  font-size: 36px;
  color: #fff; }
  .social-widget .soc-header.box-facebook {
    background: #3b5998; }
  .social-widget .soc-header.box-twitter {
    background: #00aced; }
  .social-widget .soc-header.box-google {
    background: #f86c6b; }
  .social-widget .soc-header.box-linkedin {
    background: #4875b4; }

.social-widget .soc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .social-widget .soc-content div {
    padding: 10px; }
    .social-widget .soc-content div h3 {
      margin-bottom: 0px; }

/*******************/
/*Guage chart*/
/*******************/
.gaugejs-box {
  position: relative;
  margin: 0 auto; }

.gaugejs-box canvas.gaugejs {
  width: 100% !important;
  height: auto !important; }

/*******************/
/*social-profile-first*/
/*******************/
.social-profile-first {
  text-align: center;
  padding-top: 22%;
  margin-bottom: 96px; }
  .social-profile-first.bg-over {
    background: rgba(56, 83, 161, 0.7); }
  .social-profile-first .middle {
    vertical-align: middle; }

/*******************/
/*country-state*/
/*******************/
.country-state {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px; }
  .country-state li {
    margin-top: 30px;
    margin-bottom: 10px; }
  .country-state h2 {
    margin-bottom: 0px;
    font-weight: 400; }

/*******************/
/*profile timeline widget*/
/*******************/
.profiletimeline {
  position: relative;
  margin-left: 70px;
  margin-right: 10px; }
  .profiletimeline .sl-left {
    float: left;
    margin-left: -60px;
    z-index: 1;
    margin-right: 15px; }
    .profiletimeline .sl-left img {
      max-width: 40px; }

.profiletimeline .sl-item {
  margin-top: 8px;
  margin-bottom: 30px; }

.profiletimeline .sl-date {
  font-size: 12px;
  color: #90a4ae; }

.profiletimeline .time-item {
  border-color: rgba(120, 130, 140, 0.13);
  padding-bottom: 1px;
  position: relative; }
  .profiletimeline .time-item:before {
    content: " ";
    display: table; }
  .profiletimeline .time-item:after {
    background-color: #ffffff;
    border-color: rgba(120, 130, 140, 0.13);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: '';
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px; }

.profiletimeline .time-item-item:after {
  content: " ";
  display: table; }

.profiletimeline .item-info {
  margin-bottom: 15px;
  margin-left: 15px; }
  .profiletimeline .item-info p {
    margin-bottom: 10px !important; }

/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
@media (min-width: 1600px) {
  .col-xlg-1, .col-xlg-10, .col-xlg-11, .col-xlg-12, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9 {
    float: left; }
  .col-xlg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-xlg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%; }
  .col-xlg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%; }
  .col-xlg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xlg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%; }
  .col-xlg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%; }
  .col-xlg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xlg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%; }
  .col-xlg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%; }
  .col-xlg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xlg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%; }
  .col-xlg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%; }
  .col-xlg-pull-12 {
    right: 100%; }
  .col-xlg-pull-11 {
    right: 91.66666667%; }
  .col-xlg-pull-10 {
    right: 83.33333333%; }
  .col-xlg-pull-9 {
    right: 75%; }
  .col-xlg-pull-8 {
    right: 66.66666667%; }
  .col-xlg-pull-7 {
    right: 58.33333333%; }
  .col-xlg-pull-6 {
    right: 50%; }
  .col-xlg-pull-5 {
    right: 41.66666667%; }
  .col-xlg-pull-4 {
    right: 33.33333333%; }
  .col-xlg-pull-3 {
    right: 25%; }
  .col-xlg-pull-2 {
    right: 16.66666667%; }
  .col-xlg-pull-1 {
    right: 8.33333333%; }
  .col-xlg-pull-0 {
    right: auto; }
  .col-xlg-push-12 {
    left: 100%; }
  .col-xlg-push-11 {
    left: 91.66666667%; }
  .col-xlg-push-10 {
    left: 83.33333333%; }
  .col-xlg-push-9 {
    left: 75%; }
  .col-xlg-push-8 {
    left: 66.66666667%; }
  .col-xlg-push-7 {
    left: 58.33333333%; }
  .col-xlg-push-6 {
    left: 50%; }
  .col-xlg-push-5 {
    left: 41.66666667%; }
  .col-xlg-push-4 {
    left: 33.33333333%; }
  .col-xlg-push-3 {
    left: 25%; }
  .col-xlg-push-2 {
    left: 16.66666667%; }
  .col-xlg-push-1 {
    left: 8.33333333%; }
  .col-xlg-push-0 {
    left: auto; }
  .offset-xlg-12 {
    margin-left: 100%; }
  .offset-xlg-11 {
    margin-left: 91.66666667%; }
  .offset-xlg-10 {
    margin-left: 83.33333333%; }
  .offset-xlg-9 {
    margin-left: 75%; }
  .offset-xlg-8 {
    margin-left: 66.66666667%; }
  .offset-xlg-7 {
    margin-left: 58.33333333%; }
  .offset-xlg-6 {
    margin-left: 50%; }
  .offset-xlg-5 {
    margin-left: 41.66666667%; }
  .offset-xlg-4 {
    margin-left: 33.33333333%; }
  .offset-xlg-3 {
    margin-left: 25%; }
  .offset-xlg-2 {
    margin-left: 16.66666667%; }
  .offset-xlg-1 {
    margin-left: 8.33333333%; }
  .offset-xlg-0 {
    margin-left: 0; } }

.col-xlg-1, .col-xlg-10, .col-xlg-11, .col-xlg-12, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

/*-------------------*/
/*Bootstrap 4 hack*/
/*-------------------*/
.bootstrap-touchspin .input-group-btn {
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal; }

.form-control-danger, .form-control-success, .form-control-warning {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right .5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem; }

.has-success .col-form-label, .has-success .custom-control, .has-success .form-check-label, .has-success .form-control-feedback, .has-success .form-control-label {
  color: #55ce63; }

.has-success .form-control-success {
  background-image: url(../../assets/images/icon/success.svg); }

.has-success .form-control {
  border-color: #55ce63; }

.has-warning .col-form-label, .has-warning .custom-control, .has-warning .form-check-label, .has-warning .form-control-feedback, .has-warning .form-control-label {
  color: #ffbc34; }

.has-warning .form-control-warning {
  background-image: url(../../assets/images/icon/warning.svg); }

.has-warning .form-control {
  border-color: #ffbc34; }

.has-danger .col-form-label, .has-danger .custom-control, .has-danger .form-check-label, .has-danger .form-control-feedback, .has-danger .form-control-label {
  color: #f62d51; }

.has-danger .form-control-danger {
  background-image: url(../../assets/images/icon/danger.svg); }

.has-danger .form-control {
  border-color: #f62d51; }

.input-group-addon [type="radio"]:not(:checked),
.input-group-addon [type="radio"]:checked,
.input-group-addon [type="checkbox"]:not(:checked),
.input-group-addon [type="checkbox"]:checked {
  position: initial;
  opacity: 1; }

.invisible {
  visibility: hidden !important; }

.hidden-xs-up {
  display: none !important; }

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

.card-inverse .card-blockquote, .card-inverse .card-footer, .card-inverse .card-header, .card-inverse .card-title {
  color: #ffffff; }

/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/*============================================================== 
 For Laptop & above all (1650px) 
 ============================================================== */
@media (min-width: 1650px) {
  .widget-app-columns {
    -webkit-column-count: 3;
    column-count: 3; } }

/*============================================================== 
 For Laptop & above all (1370px) 
 ============================================================== */
@media (max-width: 1370px) {
  .widget-app-columns {
    -webkit-column-count: 2;
    column-count: 2; }
  .container-fluid, .topbar .top-navbar, .scroll-sidebar {
    max-width: 1170px; } }

/*-- ============================================================== 
 Small Desktop & above all (1024px) 
 ============================================================== */
@media (max-width: 1024px) {
  .container-fluid, .topbar .top-navbar, .scroll-sidebar {
    max-width: 980px; } }

@media (max-width: 1023px) {
  .container-fluid {
    padding: 25px 20px; }
  .widget-app-columns {
    -webkit-column-count: 1;
    column-count: 1; }
  .inbox-center a {
    width: 200px; } }

/*-- ============================================================== 
 Ipad & above all(768px) 
 ============================================================== */
@media (min-width: 768px) {
  .navbar-header {
    width: 240px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .navbar-header .navbar-brand {
      padding-top: 0px; }
  .material-icon-list-demo .icons div {
    width: 33%;
    display: inline-block;
    line-height: 26px; }
  .flex-wrap {
    -ms-flex-wrap: no-wrap !important;
    flex-wrap: no-wrap !important;
    -webkit-flex-wrap: no-wrap !important; } }

/*-- ============================================================== 
 Phone and below ipad(767px) 
 ============================================================== */
@media (max-width: 767px) {
  /*Header*/
  .topbar {
    position: fixed;
    width: 100%; }
    .topbar .top-navbar {
      padding-right: 15px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-align-items: center; }
      .topbar .top-navbar .navbar-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%; }
      .topbar .top-navbar .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
        .topbar .top-navbar .navbar-nav > .nav-item.show {
          position: static; }
          .topbar .top-navbar .navbar-nav > .nav-item.show .dropdown-menu {
            width: 100%;
            margin-top: 0px; }
        .topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
          padding-left: .50rem;
          padding-right: .50rem; }
        .topbar .top-navbar .navbar-nav .dropdown-menu {
          position: absolute; }
  .mega-dropdown .dropdown-menu {
    height: 480px;
    overflow: auto; }
  /*Sidebar and wrapper*/
  .mini-sidebar .page-wrapper {
    margin-left: 0px;
    padding-top: 70px; }
  .comment-text .comment-footer .action-icons {
    display: block;
    padding: 10px 0; }
  .vtabs .tabs-vertical {
    width: auto; }
  /*Footer*/
  .footer {
    left: 0px; }
  .material-icon-list-demo .icons div {
    width: 100%; }
  .error-page .footer {
    position: fixed;
    bottom: 0px;
    z-index: 10; }
  .error-box {
    position: relative;
    padding-bottom: 60px; }
  .error-body {
    padding-top: 10%; }
    .error-body h1 {
      font-size: 100px;
      font-weight: 600;
      line-height: 100px; }
  .login-register {
    position: relative;
    overflow: hidden; }
  .login-box {
    width: 90%; }
  .login-sidebar {
    padding: 10% 0; }
    .login-sidebar .login-box {
      position: relative; }
  /*This is for chat page*/
  .chat-main-box .chat-left-aside {
    left: -250px;
    position: absolute;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    background: #ffffff; }
    .chat-main-box .chat-left-aside.open-pnl {
      left: 0px; }
    .chat-main-box .chat-left-aside .open-panel {
      display: block; }
  .chat-main-box .chat-right-aside {
    width: 100%; }
  /*Timeline*/
  ul.timeline:before {
    left: 40px; }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px); }
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0; }
  ul.timeline > li > .timeline-panel {
    float: right; }
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0; }
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0; }
  /*Contact app page*/
  .left-aside {
    width: 100%;
    position: relative;
    border: 0px; }
  .right-aside {
    margin-left: 0px; }
  .flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -webkit-flex-wrap: wrap !important; }
  .chat-list li .chat-content {
    width: calc(100% - 80px); }
  .dataTables_wrapper .dataTables_paginate {
    width: 100%; }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      padding: 0.5rem 0.5rem; } }



/* PERFIL */
.topbar .dropdown-menu {
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
	border-color: rgba(120, 130, 140, 0.13);
}
.topbar .dropdown-menu {
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
	border-color: rgba(120, 130, 140, 0.13);
}
.topbar ul.dropdown-user {
	padding: 0px;
	width: 270px;
}
.topbar ul.dropdown-user li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}